.THE_body_of_the_padge {
  background-color: #9d8c6e;
  height: 700px;
}
.logo {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  box-shadow: 0 4px 20px rgba(164, 137, 137, 0.15);
  color :black;
}
.all_input {
  align-content: space-between;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Nameproduct {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  justify-self: column;
  color: black;
  font-size: 25px;
}
#name_product {
  border-radius: 7px;
  border-color: black;
  margin: 7px;
  padding: 7px;
  
}
.photolink {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  justify-self: column;
  color: black;
  font-size: 25px;
}
#img {
  border-radius: 7px;
  border-color: black;
  margin: 7px;
  padding: 7px;
}
#priceproduct {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  justify-self: column;
  color: black;
  font-size: 25px;
}
#price {
  border-radius: 7px;
  border-color: black;
  margin: 7px;
  padding: 7px;
}
.deceraption_product {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  justify-self: column;
  color: black;
  font-size: 25px;
}
#deceraption {
  border-radius: 7px;
  border-color: black;
  margin: 7px;
  padding: 7px;
}
#click {
  font-size: 20px;
  border-radius: 7px;
  size: 7px;
}
.priceproduct {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  justify-self: column;
  color: black;
  font-size: 25px;
}
